<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1200</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Mochiypop Project Authors (https://github.com/fontdasu/Mochiypop). Modified 2026 for the Nikukyu Maru project.</string>
    <key>descender</key>
    <integer>-350</integer>
    <key>familyName</key>
    <string>Nikukyu Maru</string>
    <key>openTypeNameLicense</key>
    <string>SIL Open Font License, Version 1.1</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>103</integer>
  </dict>
</plist>
