<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>uni0020</string>
      <string>uni0021</string>
      <string>uni0022</string>
      <string>uni0023</string>
      <string>uni0024</string>
      <string>uni0025</string>
      <string>uni0026</string>
      <string>uni0027</string>
      <string>uni0028</string>
      <string>uni0029</string>
      <string>uni002A</string>
      <string>uni002B</string>
      <string>uni002C</string>
      <string>uni002D</string>
      <string>uni002E</string>
      <string>uni002F</string>
      <string>uni0030</string>
      <string>uni0031</string>
      <string>uni0032</string>
      <string>uni0033</string>
      <string>uni0034</string>
      <string>uni0035</string>
      <string>uni0036</string>
      <string>uni0037</string>
      <string>uni0038</string>
      <string>uni0039</string>
      <string>uni003A</string>
      <string>uni003B</string>
      <string>uni003C</string>
      <string>uni003D</string>
      <string>uni003E</string>
      <string>uni003F</string>
      <string>uni0040</string>
      <string>uni0041</string>
      <string>uni0042</string>
      <string>uni0043</string>
      <string>uni0044</string>
      <string>uni0045</string>
      <string>uni0046</string>
      <string>uni0047</string>
      <string>uni0048</string>
      <string>uni0049</string>
      <string>uni004A</string>
      <string>uni004B</string>
      <string>uni004C</string>
      <string>uni004D</string>
      <string>uni004E</string>
      <string>uni004F</string>
      <string>uni0050</string>
      <string>uni0051</string>
      <string>uni0052</string>
      <string>uni0053</string>
      <string>uni0054</string>
      <string>uni0055</string>
      <string>uni0056</string>
      <string>uni0057</string>
      <string>uni0058</string>
      <string>uni0059</string>
      <string>uni005A</string>
      <string>uni005B</string>
      <string>uni005C</string>
      <string>uni005D</string>
      <string>uni005E</string>
      <string>uni005F</string>
      <string>uni0060</string>
      <string>uni0061</string>
      <string>uni0062</string>
      <string>uni0063</string>
      <string>uni0064</string>
      <string>uni0065</string>
      <string>uni0066</string>
      <string>uni0067</string>
      <string>uni0068</string>
      <string>uni0069</string>
      <string>uni006A</string>
      <string>uni006B</string>
      <string>uni006C</string>
      <string>uni006D</string>
      <string>uni006E</string>
      <string>uni006F</string>
      <string>uni0070</string>
      <string>uni0071</string>
      <string>uni0072</string>
      <string>uni0073</string>
      <string>uni0074</string>
      <string>uni0075</string>
      <string>uni0076</string>
      <string>uni0077</string>
      <string>uni0078</string>
      <string>uni0079</string>
      <string>uni007A</string>
      <string>uni007B</string>
      <string>uni007C</string>
      <string>uni007D</string>
      <string>uni007E</string>
      <string>uni00A0</string>
      <string>uni00B0</string>
      <string>uni00B1</string>
      <string>uni00D7</string>
      <string>uni00F7</string>
      <string>uni2014</string>
      <string>uni2025</string>
      <string>uni2026</string>
      <string>uni2190</string>
      <string>uni2191</string>
      <string>uni2192</string>
      <string>uni2193</string>
      <string>uni2661</string>
      <string>uni2665</string>
      <string>uni266A</string>
      <string>uni3000</string>
      <string>uni3001</string>
      <string>uni3002</string>
      <string>uni3005</string>
      <string>uni3006</string>
      <string>uni3007</string>
      <string>uni300C</string>
      <string>uni300D</string>
      <string>uni300E</string>
      <string>uni300F</string>
      <string>uni301C</string>
      <string>uni3041</string>
      <string>uni3042</string>
      <string>uni3043</string>
      <string>uni3044</string>
      <string>uni3045</string>
      <string>uni3046</string>
      <string>uni3047</string>
      <string>uni3048</string>
      <string>uni3049</string>
      <string>uni304A</string>
      <string>uni304B</string>
      <string>uni304C</string>
      <string>uni304D</string>
      <string>uni304E</string>
      <string>uni304F</string>
      <string>uni3050</string>
      <string>uni3051</string>
      <string>uni3052</string>
      <string>uni3053</string>
      <string>uni3054</string>
      <string>uni3055</string>
      <string>uni3056</string>
      <string>uni3057</string>
      <string>uni3058</string>
      <string>uni3059</string>
      <string>uni305A</string>
      <string>uni305B</string>
      <string>uni305C</string>
      <string>uni305D</string>
      <string>uni305E</string>
      <string>uni305F</string>
      <string>uni3060</string>
      <string>uni3061</string>
      <string>uni3062</string>
      <string>uni3063</string>
      <string>uni3064</string>
      <string>uni3065</string>
      <string>uni3066</string>
      <string>uni3067</string>
      <string>uni3068</string>
      <string>uni3069</string>
      <string>uni306A</string>
      <string>uni306B</string>
      <string>uni306C</string>
      <string>uni306D</string>
      <string>uni306E</string>
      <string>uni306F</string>
      <string>uni3070</string>
      <string>uni3071</string>
      <string>uni3072</string>
      <string>uni3073</string>
      <string>uni3074</string>
      <string>uni3075</string>
      <string>uni3076</string>
      <string>uni3077</string>
      <string>uni3078</string>
      <string>uni3079</string>
      <string>uni307A</string>
      <string>uni307B</string>
      <string>uni307C</string>
      <string>uni307D</string>
      <string>uni307E</string>
      <string>uni307F</string>
      <string>uni3080</string>
      <string>uni3081</string>
      <string>uni3082</string>
      <string>uni3083</string>
      <string>uni3084</string>
      <string>uni3085</string>
      <string>uni3086</string>
      <string>uni3087</string>
      <string>uni3088</string>
      <string>uni3089</string>
      <string>uni308A</string>
      <string>uni308B</string>
      <string>uni308C</string>
      <string>uni308D</string>
      <string>uni308E</string>
      <string>uni308F</string>
      <string>uni3090</string>
      <string>uni3091</string>
      <string>uni3092</string>
      <string>uni3093</string>
      <string>uni3094</string>
      <string>uni3095</string>
      <string>uni3096</string>
      <string>uni309D</string>
      <string>uni309E</string>
      <string>uni30A1</string>
      <string>uni30A2</string>
      <string>uni30A3</string>
      <string>uni30A4</string>
      <string>uni30A5</string>
      <string>uni30A6</string>
      <string>uni30A7</string>
      <string>uni30A8</string>
      <string>uni30A9</string>
      <string>uni30AA</string>
      <string>uni30AB</string>
      <string>uni30AC</string>
      <string>uni30AD</string>
      <string>uni30AE</string>
      <string>uni30AF</string>
      <string>uni30B0</string>
      <string>uni30B1</string>
      <string>uni30B2</string>
      <string>uni30B3</string>
      <string>uni30B4</string>
      <string>uni30B5</string>
      <string>uni30B6</string>
      <string>uni30B7</string>
      <string>uni30B8</string>
      <string>uni30B9</string>
      <string>uni30BA</string>
      <string>uni30BB</string>
      <string>uni30BC</string>
      <string>uni30BD</string>
      <string>uni30BE</string>
      <string>uni30BF</string>
      <string>uni30C0</string>
      <string>uni30C1</string>
      <string>uni30C2</string>
      <string>uni30C3</string>
      <string>uni30C4</string>
      <string>uni30C5</string>
      <string>uni30C6</string>
      <string>uni30C7</string>
      <string>uni30C8</string>
      <string>uni30C9</string>
      <string>uni30CA</string>
      <string>uni30CB</string>
      <string>uni30CC</string>
      <string>uni30CD</string>
      <string>uni30CE</string>
      <string>uni30CF</string>
      <string>uni30D0</string>
      <string>uni30D1</string>
      <string>uni30D2</string>
      <string>uni30D3</string>
      <string>uni30D4</string>
      <string>uni30D5</string>
      <string>uni30D6</string>
      <string>uni30D7</string>
      <string>uni30D8</string>
      <string>uni30D9</string>
      <string>uni30DA</string>
      <string>uni30DB</string>
      <string>uni30DC</string>
      <string>uni30DD</string>
      <string>uni30DE</string>
      <string>uni30DF</string>
      <string>uni30E0</string>
      <string>uni30E1</string>
      <string>uni30E2</string>
      <string>uni30E3</string>
      <string>uni30E4</string>
      <string>uni30E5</string>
      <string>uni30E6</string>
      <string>uni30E7</string>
      <string>uni30E8</string>
      <string>uni30E9</string>
      <string>uni30EA</string>
      <string>uni30EB</string>
      <string>uni30EC</string>
      <string>uni30ED</string>
      <string>uni30EE</string>
      <string>uni30EF</string>
      <string>uni30F0</string>
      <string>uni30F1</string>
      <string>uni30F2</string>
      <string>uni30F3</string>
      <string>uni30F4</string>
      <string>uni30F5</string>
      <string>uni30F6</string>
      <string>uni30F7</string>
      <string>uni30F8</string>
      <string>uni30F9</string>
      <string>uni30FA</string>
      <string>uni30FB</string>
      <string>uni30FC</string>
      <string>uni30FD</string>
      <string>uni30FE</string>
      <string>uni4E2D</string>
      <string>uni4E38</string>
      <string>uni4F11</string>
      <string>uni51AC</string>
      <string>uni590F</string>
      <string>uni5922</string>
      <string>uni5927</string>
      <string>uni597D</string>
      <string>uni5C0F</string>
      <string>uni5E78</string>
      <string>uni5E97</string>
      <string>uni65E5</string>
      <string>uni6625</string>
      <string>uni66AE</string>
      <string>uni6708</string>
      <string>uni732B</string>
      <string>uni7403</string>
      <string>uni767D</string>
      <string>uni79CB</string>
      <string>uni7A7A</string>
      <string>uni8089</string>
      <string>uni8272</string>
      <string>uni82B1</string>
      <string>uni8336</string>
      <string>uni9ED2</string>
      <string>uniE000</string>
      <string>uniE001</string>
      <string>uniFF01</string>
      <string>uniFF05</string>
      <string>uniFF06</string>
      <string>uniFF08</string>
      <string>uniFF09</string>
      <string>uniFF0B</string>
      <string>uniFF10</string>
      <string>uniFF11</string>
      <string>uniFF12</string>
      <string>uniFF13</string>
      <string>uniFF14</string>
      <string>uniFF15</string>
      <string>uniFF16</string>
      <string>uniFF17</string>
      <string>uniFF18</string>
      <string>uniFF19</string>
      <string>uniFF1A</string>
      <string>uniFF1B</string>
      <string>uniFF1D</string>
      <string>uniFF1F</string>
      <string>uniFF20</string>
      <string>uniFF21</string>
      <string>uniFF22</string>
      <string>uniFF23</string>
      <string>uniFF24</string>
      <string>uniFF25</string>
      <string>uniFF26</string>
      <string>uniFF27</string>
      <string>uniFF28</string>
      <string>uniFF29</string>
      <string>uniFF2A</string>
      <string>uniFF2B</string>
      <string>uniFF2C</string>
      <string>uniFF2D</string>
      <string>uniFF2E</string>
      <string>uniFF2F</string>
      <string>uniFF30</string>
      <string>uniFF31</string>
      <string>uniFF32</string>
      <string>uniFF33</string>
      <string>uniFF34</string>
      <string>uniFF35</string>
      <string>uniFF36</string>
      <string>uniFF37</string>
      <string>uniFF38</string>
      <string>uniFF39</string>
      <string>uniFF3A</string>
      <string>uniFF3B</string>
      <string>uniFF3D</string>
      <string>uniFF41</string>
      <string>uniFF42</string>
      <string>uniFF43</string>
      <string>uniFF44</string>
      <string>uniFF45</string>
      <string>uniFF46</string>
      <string>uniFF47</string>
      <string>uniFF48</string>
      <string>uniFF49</string>
      <string>uniFF4A</string>
      <string>uniFF4B</string>
      <string>uniFF4C</string>
      <string>uniFF4D</string>
      <string>uniFF4E</string>
      <string>uniFF4F</string>
      <string>uniFF50</string>
      <string>uniFF51</string>
      <string>uniFF52</string>
      <string>uniFF53</string>
      <string>uniFF54</string>
      <string>uniFF55</string>
      <string>uniFF56</string>
      <string>uniFF57</string>
      <string>uniFF58</string>
      <string>uniFF59</string>
      <string>uniFF5A</string>
      <string>uniFF5B</string>
      <string>uniFF5D</string>
      <string>u1F43E</string>
      <string>uni3053.alt</string>
      <string>uni308B.alt</string>
    </array>
  </dict>
</plist>
