<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>u1F43E</key>
    <string>u1F_43E_.glif</string>
    <key>uni0020</key>
    <string>uni0020.glif</string>
    <key>uni0021</key>
    <string>uni0021.glif</string>
    <key>uni0022</key>
    <string>uni0022.glif</string>
    <key>uni0023</key>
    <string>uni0023.glif</string>
    <key>uni0024</key>
    <string>uni0024.glif</string>
    <key>uni0025</key>
    <string>uni0025.glif</string>
    <key>uni0026</key>
    <string>uni0026.glif</string>
    <key>uni0027</key>
    <string>uni0027.glif</string>
    <key>uni0028</key>
    <string>uni0028.glif</string>
    <key>uni0029</key>
    <string>uni0029.glif</string>
    <key>uni002A</key>
    <string>uni002A_.glif</string>
    <key>uni002B</key>
    <string>uni002B_.glif</string>
    <key>uni002C</key>
    <string>uni002C_.glif</string>
    <key>uni002D</key>
    <string>uni002D_.glif</string>
    <key>uni002E</key>
    <string>uni002E_.glif</string>
    <key>uni002F</key>
    <string>uni002F_.glif</string>
    <key>uni0030</key>
    <string>uni0030.glif</string>
    <key>uni0031</key>
    <string>uni0031.glif</string>
    <key>uni0032</key>
    <string>uni0032.glif</string>
    <key>uni0033</key>
    <string>uni0033.glif</string>
    <key>uni0034</key>
    <string>uni0034.glif</string>
    <key>uni0035</key>
    <string>uni0035.glif</string>
    <key>uni0036</key>
    <string>uni0036.glif</string>
    <key>uni0037</key>
    <string>uni0037.glif</string>
    <key>uni0038</key>
    <string>uni0038.glif</string>
    <key>uni0039</key>
    <string>uni0039.glif</string>
    <key>uni003A</key>
    <string>uni003A_.glif</string>
    <key>uni003B</key>
    <string>uni003B_.glif</string>
    <key>uni003C</key>
    <string>uni003C_.glif</string>
    <key>uni003D</key>
    <string>uni003D_.glif</string>
    <key>uni003E</key>
    <string>uni003E_.glif</string>
    <key>uni003F</key>
    <string>uni003F_.glif</string>
    <key>uni0040</key>
    <string>uni0040.glif</string>
    <key>uni0041</key>
    <string>uni0041.glif</string>
    <key>uni0042</key>
    <string>uni0042.glif</string>
    <key>uni0043</key>
    <string>uni0043.glif</string>
    <key>uni0044</key>
    <string>uni0044.glif</string>
    <key>uni0045</key>
    <string>uni0045.glif</string>
    <key>uni0046</key>
    <string>uni0046.glif</string>
    <key>uni0047</key>
    <string>uni0047.glif</string>
    <key>uni0048</key>
    <string>uni0048.glif</string>
    <key>uni0049</key>
    <string>uni0049.glif</string>
    <key>uni004A</key>
    <string>uni004A_.glif</string>
    <key>uni004B</key>
    <string>uni004B_.glif</string>
    <key>uni004C</key>
    <string>uni004C_.glif</string>
    <key>uni004D</key>
    <string>uni004D_.glif</string>
    <key>uni004E</key>
    <string>uni004E_.glif</string>
    <key>uni004F</key>
    <string>uni004F_.glif</string>
    <key>uni0050</key>
    <string>uni0050.glif</string>
    <key>uni0051</key>
    <string>uni0051.glif</string>
    <key>uni0052</key>
    <string>uni0052.glif</string>
    <key>uni0053</key>
    <string>uni0053.glif</string>
    <key>uni0054</key>
    <string>uni0054.glif</string>
    <key>uni0055</key>
    <string>uni0055.glif</string>
    <key>uni0056</key>
    <string>uni0056.glif</string>
    <key>uni0057</key>
    <string>uni0057.glif</string>
    <key>uni0058</key>
    <string>uni0058.glif</string>
    <key>uni0059</key>
    <string>uni0059.glif</string>
    <key>uni005A</key>
    <string>uni005A_.glif</string>
    <key>uni005B</key>
    <string>uni005B_.glif</string>
    <key>uni005C</key>
    <string>uni005C_.glif</string>
    <key>uni005D</key>
    <string>uni005D_.glif</string>
    <key>uni005E</key>
    <string>uni005E_.glif</string>
    <key>uni005F</key>
    <string>uni005F_.glif</string>
    <key>uni0060</key>
    <string>uni0060.glif</string>
    <key>uni0061</key>
    <string>uni0061.glif</string>
    <key>uni0062</key>
    <string>uni0062.glif</string>
    <key>uni0063</key>
    <string>uni0063.glif</string>
    <key>uni0064</key>
    <string>uni0064.glif</string>
    <key>uni0065</key>
    <string>uni0065.glif</string>
    <key>uni0066</key>
    <string>uni0066.glif</string>
    <key>uni0067</key>
    <string>uni0067.glif</string>
    <key>uni0068</key>
    <string>uni0068.glif</string>
    <key>uni0069</key>
    <string>uni0069.glif</string>
    <key>uni006A</key>
    <string>uni006A_.glif</string>
    <key>uni006B</key>
    <string>uni006B_.glif</string>
    <key>uni006C</key>
    <string>uni006C_.glif</string>
    <key>uni006D</key>
    <string>uni006D_.glif</string>
    <key>uni006E</key>
    <string>uni006E_.glif</string>
    <key>uni006F</key>
    <string>uni006F_.glif</string>
    <key>uni0070</key>
    <string>uni0070.glif</string>
    <key>uni0071</key>
    <string>uni0071.glif</string>
    <key>uni0072</key>
    <string>uni0072.glif</string>
    <key>uni0073</key>
    <string>uni0073.glif</string>
    <key>uni0074</key>
    <string>uni0074.glif</string>
    <key>uni0075</key>
    <string>uni0075.glif</string>
    <key>uni0076</key>
    <string>uni0076.glif</string>
    <key>uni0077</key>
    <string>uni0077.glif</string>
    <key>uni0078</key>
    <string>uni0078.glif</string>
    <key>uni0079</key>
    <string>uni0079.glif</string>
    <key>uni007A</key>
    <string>uni007A_.glif</string>
    <key>uni007B</key>
    <string>uni007B_.glif</string>
    <key>uni007C</key>
    <string>uni007C_.glif</string>
    <key>uni007D</key>
    <string>uni007D_.glif</string>
    <key>uni007E</key>
    <string>uni007E_.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>uni00B0</key>
    <string>uni00B_0.glif</string>
    <key>uni00B1</key>
    <string>uni00B_1.glif</string>
    <key>uni00D7</key>
    <string>uni00D_7.glif</string>
    <key>uni00F7</key>
    <string>uni00F_7.glif</string>
    <key>uni2014</key>
    <string>uni2014.glif</string>
    <key>uni2025</key>
    <string>uni2025.glif</string>
    <key>uni2026</key>
    <string>uni2026.glif</string>
    <key>uni2190</key>
    <string>uni2190.glif</string>
    <key>uni2191</key>
    <string>uni2191.glif</string>
    <key>uni2192</key>
    <string>uni2192.glif</string>
    <key>uni2193</key>
    <string>uni2193.glif</string>
    <key>uni2661</key>
    <string>uni2661.glif</string>
    <key>uni2665</key>
    <string>uni2665.glif</string>
    <key>uni266A</key>
    <string>uni266A_.glif</string>
    <key>uni3000</key>
    <string>uni3000.glif</string>
    <key>uni3001</key>
    <string>uni3001.glif</string>
    <key>uni3002</key>
    <string>uni3002.glif</string>
    <key>uni3005</key>
    <string>uni3005.glif</string>
    <key>uni3006</key>
    <string>uni3006.glif</string>
    <key>uni3007</key>
    <string>uni3007.glif</string>
    <key>uni300C</key>
    <string>uni300C_.glif</string>
    <key>uni300D</key>
    <string>uni300D_.glif</string>
    <key>uni300E</key>
    <string>uni300E_.glif</string>
    <key>uni300F</key>
    <string>uni300F_.glif</string>
    <key>uni301C</key>
    <string>uni301C_.glif</string>
    <key>uni3041</key>
    <string>uni3041.glif</string>
    <key>uni3042</key>
    <string>uni3042.glif</string>
    <key>uni3043</key>
    <string>uni3043.glif</string>
    <key>uni3044</key>
    <string>uni3044.glif</string>
    <key>uni3045</key>
    <string>uni3045.glif</string>
    <key>uni3046</key>
    <string>uni3046.glif</string>
    <key>uni3047</key>
    <string>uni3047.glif</string>
    <key>uni3048</key>
    <string>uni3048.glif</string>
    <key>uni3049</key>
    <string>uni3049.glif</string>
    <key>uni304A</key>
    <string>uni304A_.glif</string>
    <key>uni304B</key>
    <string>uni304B_.glif</string>
    <key>uni304C</key>
    <string>uni304C_.glif</string>
    <key>uni304D</key>
    <string>uni304D_.glif</string>
    <key>uni304E</key>
    <string>uni304E_.glif</string>
    <key>uni304F</key>
    <string>uni304F_.glif</string>
    <key>uni3050</key>
    <string>uni3050.glif</string>
    <key>uni3051</key>
    <string>uni3051.glif</string>
    <key>uni3052</key>
    <string>uni3052.glif</string>
    <key>uni3053</key>
    <string>uni3053.glif</string>
    <key>uni3053.alt</key>
    <string>uni3053.alt.glif</string>
    <key>uni3054</key>
    <string>uni3054.glif</string>
    <key>uni3055</key>
    <string>uni3055.glif</string>
    <key>uni3056</key>
    <string>uni3056.glif</string>
    <key>uni3057</key>
    <string>uni3057.glif</string>
    <key>uni3058</key>
    <string>uni3058.glif</string>
    <key>uni3059</key>
    <string>uni3059.glif</string>
    <key>uni305A</key>
    <string>uni305A_.glif</string>
    <key>uni305B</key>
    <string>uni305B_.glif</string>
    <key>uni305C</key>
    <string>uni305C_.glif</string>
    <key>uni305D</key>
    <string>uni305D_.glif</string>
    <key>uni305E</key>
    <string>uni305E_.glif</string>
    <key>uni305F</key>
    <string>uni305F_.glif</string>
    <key>uni3060</key>
    <string>uni3060.glif</string>
    <key>uni3061</key>
    <string>uni3061.glif</string>
    <key>uni3062</key>
    <string>uni3062.glif</string>
    <key>uni3063</key>
    <string>uni3063.glif</string>
    <key>uni3064</key>
    <string>uni3064.glif</string>
    <key>uni3065</key>
    <string>uni3065.glif</string>
    <key>uni3066</key>
    <string>uni3066.glif</string>
    <key>uni3067</key>
    <string>uni3067.glif</string>
    <key>uni3068</key>
    <string>uni3068.glif</string>
    <key>uni3069</key>
    <string>uni3069.glif</string>
    <key>uni306A</key>
    <string>uni306A_.glif</string>
    <key>uni306B</key>
    <string>uni306B_.glif</string>
    <key>uni306C</key>
    <string>uni306C_.glif</string>
    <key>uni306D</key>
    <string>uni306D_.glif</string>
    <key>uni306E</key>
    <string>uni306E_.glif</string>
    <key>uni306F</key>
    <string>uni306F_.glif</string>
    <key>uni3070</key>
    <string>uni3070.glif</string>
    <key>uni3071</key>
    <string>uni3071.glif</string>
    <key>uni3072</key>
    <string>uni3072.glif</string>
    <key>uni3073</key>
    <string>uni3073.glif</string>
    <key>uni3074</key>
    <string>uni3074.glif</string>
    <key>uni3075</key>
    <string>uni3075.glif</string>
    <key>uni3076</key>
    <string>uni3076.glif</string>
    <key>uni3077</key>
    <string>uni3077.glif</string>
    <key>uni3078</key>
    <string>uni3078.glif</string>
    <key>uni3079</key>
    <string>uni3079.glif</string>
    <key>uni307A</key>
    <string>uni307A_.glif</string>
    <key>uni307B</key>
    <string>uni307B_.glif</string>
    <key>uni307C</key>
    <string>uni307C_.glif</string>
    <key>uni307D</key>
    <string>uni307D_.glif</string>
    <key>uni307E</key>
    <string>uni307E_.glif</string>
    <key>uni307F</key>
    <string>uni307F_.glif</string>
    <key>uni3080</key>
    <string>uni3080.glif</string>
    <key>uni3081</key>
    <string>uni3081.glif</string>
    <key>uni3082</key>
    <string>uni3082.glif</string>
    <key>uni3083</key>
    <string>uni3083.glif</string>
    <key>uni3084</key>
    <string>uni3084.glif</string>
    <key>uni3085</key>
    <string>uni3085.glif</string>
    <key>uni3086</key>
    <string>uni3086.glif</string>
    <key>uni3087</key>
    <string>uni3087.glif</string>
    <key>uni3088</key>
    <string>uni3088.glif</string>
    <key>uni3089</key>
    <string>uni3089.glif</string>
    <key>uni308A</key>
    <string>uni308A_.glif</string>
    <key>uni308B</key>
    <string>uni308B_.glif</string>
    <key>uni308B.alt</key>
    <string>uni308B_.alt.glif</string>
    <key>uni308C</key>
    <string>uni308C_.glif</string>
    <key>uni308D</key>
    <string>uni308D_.glif</string>
    <key>uni308E</key>
    <string>uni308E_.glif</string>
    <key>uni308F</key>
    <string>uni308F_.glif</string>
    <key>uni3090</key>
    <string>uni3090.glif</string>
    <key>uni3091</key>
    <string>uni3091.glif</string>
    <key>uni3092</key>
    <string>uni3092.glif</string>
    <key>uni3093</key>
    <string>uni3093.glif</string>
    <key>uni3094</key>
    <string>uni3094.glif</string>
    <key>uni3095</key>
    <string>uni3095.glif</string>
    <key>uni3096</key>
    <string>uni3096.glif</string>
    <key>uni309D</key>
    <string>uni309D_.glif</string>
    <key>uni309E</key>
    <string>uni309E_.glif</string>
    <key>uni30A1</key>
    <string>uni30A_1.glif</string>
    <key>uni30A2</key>
    <string>uni30A_2.glif</string>
    <key>uni30A3</key>
    <string>uni30A_3.glif</string>
    <key>uni30A4</key>
    <string>uni30A_4.glif</string>
    <key>uni30A5</key>
    <string>uni30A_5.glif</string>
    <key>uni30A6</key>
    <string>uni30A_6.glif</string>
    <key>uni30A7</key>
    <string>uni30A_7.glif</string>
    <key>uni30A8</key>
    <string>uni30A_8.glif</string>
    <key>uni30A9</key>
    <string>uni30A_9.glif</string>
    <key>uni30AA</key>
    <string>uni30A_A_.glif</string>
    <key>uni30AB</key>
    <string>uni30A_B_.glif</string>
    <key>uni30AC</key>
    <string>uni30A_C_.glif</string>
    <key>uni30AD</key>
    <string>uni30A_D_.glif</string>
    <key>uni30AE</key>
    <string>uni30A_E_.glif</string>
    <key>uni30AF</key>
    <string>uni30A_F_.glif</string>
    <key>uni30B0</key>
    <string>uni30B_0.glif</string>
    <key>uni30B1</key>
    <string>uni30B_1.glif</string>
    <key>uni30B2</key>
    <string>uni30B_2.glif</string>
    <key>uni30B3</key>
    <string>uni30B_3.glif</string>
    <key>uni30B4</key>
    <string>uni30B_4.glif</string>
    <key>uni30B5</key>
    <string>uni30B_5.glif</string>
    <key>uni30B6</key>
    <string>uni30B_6.glif</string>
    <key>uni30B7</key>
    <string>uni30B_7.glif</string>
    <key>uni30B8</key>
    <string>uni30B_8.glif</string>
    <key>uni30B9</key>
    <string>uni30B_9.glif</string>
    <key>uni30BA</key>
    <string>uni30B_A_.glif</string>
    <key>uni30BB</key>
    <string>uni30B_B_.glif</string>
    <key>uni30BC</key>
    <string>uni30B_C_.glif</string>
    <key>uni30BD</key>
    <string>uni30B_D_.glif</string>
    <key>uni30BE</key>
    <string>uni30B_E_.glif</string>
    <key>uni30BF</key>
    <string>uni30B_F_.glif</string>
    <key>uni30C0</key>
    <string>uni30C_0.glif</string>
    <key>uni30C1</key>
    <string>uni30C_1.glif</string>
    <key>uni30C2</key>
    <string>uni30C_2.glif</string>
    <key>uni30C3</key>
    <string>uni30C_3.glif</string>
    <key>uni30C4</key>
    <string>uni30C_4.glif</string>
    <key>uni30C5</key>
    <string>uni30C_5.glif</string>
    <key>uni30C6</key>
    <string>uni30C_6.glif</string>
    <key>uni30C7</key>
    <string>uni30C_7.glif</string>
    <key>uni30C8</key>
    <string>uni30C_8.glif</string>
    <key>uni30C9</key>
    <string>uni30C_9.glif</string>
    <key>uni30CA</key>
    <string>uni30C_A_.glif</string>
    <key>uni30CB</key>
    <string>uni30C_B_.glif</string>
    <key>uni30CC</key>
    <string>uni30C_C_.glif</string>
    <key>uni30CD</key>
    <string>uni30C_D_.glif</string>
    <key>uni30CE</key>
    <string>uni30C_E_.glif</string>
    <key>uni30CF</key>
    <string>uni30C_F_.glif</string>
    <key>uni30D0</key>
    <string>uni30D_0.glif</string>
    <key>uni30D1</key>
    <string>uni30D_1.glif</string>
    <key>uni30D2</key>
    <string>uni30D_2.glif</string>
    <key>uni30D3</key>
    <string>uni30D_3.glif</string>
    <key>uni30D4</key>
    <string>uni30D_4.glif</string>
    <key>uni30D5</key>
    <string>uni30D_5.glif</string>
    <key>uni30D6</key>
    <string>uni30D_6.glif</string>
    <key>uni30D7</key>
    <string>uni30D_7.glif</string>
    <key>uni30D8</key>
    <string>uni30D_8.glif</string>
    <key>uni30D9</key>
    <string>uni30D_9.glif</string>
    <key>uni30DA</key>
    <string>uni30D_A_.glif</string>
    <key>uni30DB</key>
    <string>uni30D_B_.glif</string>
    <key>uni30DC</key>
    <string>uni30D_C_.glif</string>
    <key>uni30DD</key>
    <string>uni30D_D_.glif</string>
    <key>uni30DE</key>
    <string>uni30D_E_.glif</string>
    <key>uni30DF</key>
    <string>uni30D_F_.glif</string>
    <key>uni30E0</key>
    <string>uni30E_0.glif</string>
    <key>uni30E1</key>
    <string>uni30E_1.glif</string>
    <key>uni30E2</key>
    <string>uni30E_2.glif</string>
    <key>uni30E3</key>
    <string>uni30E_3.glif</string>
    <key>uni30E4</key>
    <string>uni30E_4.glif</string>
    <key>uni30E5</key>
    <string>uni30E_5.glif</string>
    <key>uni30E6</key>
    <string>uni30E_6.glif</string>
    <key>uni30E7</key>
    <string>uni30E_7.glif</string>
    <key>uni30E8</key>
    <string>uni30E_8.glif</string>
    <key>uni30E9</key>
    <string>uni30E_9.glif</string>
    <key>uni30EA</key>
    <string>uni30E_A_.glif</string>
    <key>uni30EB</key>
    <string>uni30E_B_.glif</string>
    <key>uni30EC</key>
    <string>uni30E_C_.glif</string>
    <key>uni30ED</key>
    <string>uni30E_D_.glif</string>
    <key>uni30EE</key>
    <string>uni30E_E_.glif</string>
    <key>uni30EF</key>
    <string>uni30E_F_.glif</string>
    <key>uni30F0</key>
    <string>uni30F_0.glif</string>
    <key>uni30F1</key>
    <string>uni30F_1.glif</string>
    <key>uni30F2</key>
    <string>uni30F_2.glif</string>
    <key>uni30F3</key>
    <string>uni30F_3.glif</string>
    <key>uni30F4</key>
    <string>uni30F_4.glif</string>
    <key>uni30F5</key>
    <string>uni30F_5.glif</string>
    <key>uni30F6</key>
    <string>uni30F_6.glif</string>
    <key>uni30F7</key>
    <string>uni30F_7.glif</string>
    <key>uni30F8</key>
    <string>uni30F_8.glif</string>
    <key>uni30F9</key>
    <string>uni30F_9.glif</string>
    <key>uni30FA</key>
    <string>uni30F_A_.glif</string>
    <key>uni30FB</key>
    <string>uni30F_B_.glif</string>
    <key>uni30FC</key>
    <string>uni30F_C_.glif</string>
    <key>uni30FD</key>
    <string>uni30F_D_.glif</string>
    <key>uni30FE</key>
    <string>uni30F_E_.glif</string>
    <key>uni4E2D</key>
    <string>uni4E_2D_.glif</string>
    <key>uni4E38</key>
    <string>uni4E_38.glif</string>
    <key>uni4F11</key>
    <string>uni4F_11.glif</string>
    <key>uni51AC</key>
    <string>uni51A_C_.glif</string>
    <key>uni590F</key>
    <string>uni590F_.glif</string>
    <key>uni5922</key>
    <string>uni5922.glif</string>
    <key>uni5927</key>
    <string>uni5927.glif</string>
    <key>uni597D</key>
    <string>uni597D_.glif</string>
    <key>uni5C0F</key>
    <string>uni5C_0F_.glif</string>
    <key>uni5E78</key>
    <string>uni5E_78.glif</string>
    <key>uni5E97</key>
    <string>uni5E_97.glif</string>
    <key>uni65E5</key>
    <string>uni65E_5.glif</string>
    <key>uni6625</key>
    <string>uni6625.glif</string>
    <key>uni66AE</key>
    <string>uni66A_E_.glif</string>
    <key>uni6708</key>
    <string>uni6708.glif</string>
    <key>uni732B</key>
    <string>uni732B_.glif</string>
    <key>uni7403</key>
    <string>uni7403.glif</string>
    <key>uni767D</key>
    <string>uni767D_.glif</string>
    <key>uni79CB</key>
    <string>uni79C_B_.glif</string>
    <key>uni7A7A</key>
    <string>uni7A_7A_.glif</string>
    <key>uni8089</key>
    <string>uni8089.glif</string>
    <key>uni8272</key>
    <string>uni8272.glif</string>
    <key>uni82B1</key>
    <string>uni82B_1.glif</string>
    <key>uni8336</key>
    <string>uni8336.glif</string>
    <key>uni9ED2</key>
    <string>uni9E_D_2.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniE001</key>
    <string>uniE_001.glif</string>
    <key>uniFF01</key>
    <string>uniF_F_01.glif</string>
    <key>uniFF05</key>
    <string>uniF_F_05.glif</string>
    <key>uniFF06</key>
    <string>uniF_F_06.glif</string>
    <key>uniFF08</key>
    <string>uniF_F_08.glif</string>
    <key>uniFF09</key>
    <string>uniF_F_09.glif</string>
    <key>uniFF0B</key>
    <string>uniF_F_0B_.glif</string>
    <key>uniFF10</key>
    <string>uniF_F_10.glif</string>
    <key>uniFF11</key>
    <string>uniF_F_11.glif</string>
    <key>uniFF12</key>
    <string>uniF_F_12.glif</string>
    <key>uniFF13</key>
    <string>uniF_F_13.glif</string>
    <key>uniFF14</key>
    <string>uniF_F_14.glif</string>
    <key>uniFF15</key>
    <string>uniF_F_15.glif</string>
    <key>uniFF16</key>
    <string>uniF_F_16.glif</string>
    <key>uniFF17</key>
    <string>uniF_F_17.glif</string>
    <key>uniFF18</key>
    <string>uniF_F_18.glif</string>
    <key>uniFF19</key>
    <string>uniF_F_19.glif</string>
    <key>uniFF1A</key>
    <string>uniF_F_1A_.glif</string>
    <key>uniFF1B</key>
    <string>uniF_F_1B_.glif</string>
    <key>uniFF1D</key>
    <string>uniF_F_1D_.glif</string>
    <key>uniFF1F</key>
    <string>uniF_F_1F_.glif</string>
    <key>uniFF20</key>
    <string>uniF_F_20.glif</string>
    <key>uniFF21</key>
    <string>uniF_F_21.glif</string>
    <key>uniFF22</key>
    <string>uniF_F_22.glif</string>
    <key>uniFF23</key>
    <string>uniF_F_23.glif</string>
    <key>uniFF24</key>
    <string>uniF_F_24.glif</string>
    <key>uniFF25</key>
    <string>uniF_F_25.glif</string>
    <key>uniFF26</key>
    <string>uniF_F_26.glif</string>
    <key>uniFF27</key>
    <string>uniF_F_27.glif</string>
    <key>uniFF28</key>
    <string>uniF_F_28.glif</string>
    <key>uniFF29</key>
    <string>uniF_F_29.glif</string>
    <key>uniFF2A</key>
    <string>uniF_F_2A_.glif</string>
    <key>uniFF2B</key>
    <string>uniF_F_2B_.glif</string>
    <key>uniFF2C</key>
    <string>uniF_F_2C_.glif</string>
    <key>uniFF2D</key>
    <string>uniF_F_2D_.glif</string>
    <key>uniFF2E</key>
    <string>uniF_F_2E_.glif</string>
    <key>uniFF2F</key>
    <string>uniF_F_2F_.glif</string>
    <key>uniFF30</key>
    <string>uniF_F_30.glif</string>
    <key>uniFF31</key>
    <string>uniF_F_31.glif</string>
    <key>uniFF32</key>
    <string>uniF_F_32.glif</string>
    <key>uniFF33</key>
    <string>uniF_F_33.glif</string>
    <key>uniFF34</key>
    <string>uniF_F_34.glif</string>
    <key>uniFF35</key>
    <string>uniF_F_35.glif</string>
    <key>uniFF36</key>
    <string>uniF_F_36.glif</string>
    <key>uniFF37</key>
    <string>uniF_F_37.glif</string>
    <key>uniFF38</key>
    <string>uniF_F_38.glif</string>
    <key>uniFF39</key>
    <string>uniF_F_39.glif</string>
    <key>uniFF3A</key>
    <string>uniF_F_3A_.glif</string>
    <key>uniFF3B</key>
    <string>uniF_F_3B_.glif</string>
    <key>uniFF3D</key>
    <string>uniF_F_3D_.glif</string>
    <key>uniFF41</key>
    <string>uniF_F_41.glif</string>
    <key>uniFF42</key>
    <string>uniF_F_42.glif</string>
    <key>uniFF43</key>
    <string>uniF_F_43.glif</string>
    <key>uniFF44</key>
    <string>uniF_F_44.glif</string>
    <key>uniFF45</key>
    <string>uniF_F_45.glif</string>
    <key>uniFF46</key>
    <string>uniF_F_46.glif</string>
    <key>uniFF47</key>
    <string>uniF_F_47.glif</string>
    <key>uniFF48</key>
    <string>uniF_F_48.glif</string>
    <key>uniFF49</key>
    <string>uniF_F_49.glif</string>
    <key>uniFF4A</key>
    <string>uniF_F_4A_.glif</string>
    <key>uniFF4B</key>
    <string>uniF_F_4B_.glif</string>
    <key>uniFF4C</key>
    <string>uniF_F_4C_.glif</string>
    <key>uniFF4D</key>
    <string>uniF_F_4D_.glif</string>
    <key>uniFF4E</key>
    <string>uniF_F_4E_.glif</string>
    <key>uniFF4F</key>
    <string>uniF_F_4F_.glif</string>
    <key>uniFF50</key>
    <string>uniF_F_50.glif</string>
    <key>uniFF51</key>
    <string>uniF_F_51.glif</string>
    <key>uniFF52</key>
    <string>uniF_F_52.glif</string>
    <key>uniFF53</key>
    <string>uniF_F_53.glif</string>
    <key>uniFF54</key>
    <string>uniF_F_54.glif</string>
    <key>uniFF55</key>
    <string>uniF_F_55.glif</string>
    <key>uniFF56</key>
    <string>uniF_F_56.glif</string>
    <key>uniFF57</key>
    <string>uniF_F_57.glif</string>
    <key>uniFF58</key>
    <string>uniF_F_58.glif</string>
    <key>uniFF59</key>
    <string>uniF_F_59.glif</string>
    <key>uniFF5A</key>
    <string>uniF_F_5A_.glif</string>
    <key>uniFF5B</key>
    <string>uniF_F_5B_.glif</string>
    <key>uniFF5D</key>
    <string>uniF_F_5D_.glif</string>
  </dict>
</plist>
